<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head (title)">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="${title}">Home Page</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

<header th:fragment="header (headerTitle)" class="flex justify-between items-center p-4 bg-white shadow-md">
    <h1 th:text="${headerTitle}" class="font-bold"></h1>
    <form th:action="@{/logout}" method="post">
        <input class="bg-gray-50 border border-gray-300 text-gray-900 rounded-sm px-2 py-1 cursor-pointer" type="submit" value="Log out"/>
    </form>
</header>

</body>
</html>